@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;;
}

.main{
    display: flex;
}
.img{
    background-image: url(../images.png);
    background-position: center;
background-size: cover;
min-height: 80vh;
width: 40vw;
    
    
}
.img img{
    width: 36.3rem;
}

.input{
    width: 28vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.heading h1{
    padding: 2rem 0rem;
    font-weight: 700;
}

form input{
    width: 20rem;
    padding: 0.7rem 1rem;
    border: 1px solid #8692A6;
    border-radius: 3px;
    margin-bottom: 1rem;
    outline: none;
}
input[type=text]:focus {
    border: 2px solid #2C73EB;
  }
input[type=password]:focus {
    border: 2px solid #2C73EB;
  }

form p{
    padding-bottom: 0.6rem;
    color: #696F79;
    font-weight: 500;
    font-size: 14px;
}

form button{
    width: 20rem;
    padding: 0.7rem 0rem;
    background-color:  #2C73EB;
    cursor: pointer;
    border: 1px solid#2C73EB;
    border-radius: 2px;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;

    
}
.input span{
    padding-top: 0.8rem;
    font-size: 11x;
    color: #696F79;
}
span a{
    text-decoration: none;
}

.forget{
    padding-top: 0.8rem;
    color: #696F79;
    font-size: 13px;
    cursor: pointer;
}
p a{
    text-decoration: none;
}